# folder
.git/
.svn/
.hg/
.DS_Store/
.idea/
.vscode/
.pytest_cache/
__pycache__/

tmp/
data/
logs/

# file
*.env
*.pyc
*.log
*.json
chat_history.json
*.txt
*.csv
*.xlsx
*.xls
*.docx
*.doc
*.md
# ignore all
